<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

        function loadTutorial() {
            fetch("http://localhost:3000/api/tutorials")

                // Converting received data to JSON
                .then(response => response.json())
                .then(json => {

                    // Create a variable to store HTML
                    let li = `<tr><th>ID</th><th>Title</th><th>Description</th><th>Action</th></tr>`;

                    json.forEach(tutorial => {
                        li += `<tr>
        <td>${tutorial.id} </td>
        <td>${tutorial.title} </td>
        <td>${tutorial.description}</td>
        <td><a href="javascript:void(0);" onclick="deleteTutorial(${tutorial.id})">Delete</a></td>
    </tr>`;
                    });

                    // Display result
                    document.getElementById("tutorials").innerHTML = li;
                });
        }

        function deleteTutorial(id) {
            fetch(`http://localhost:3000/api/tutorials/${id}`, {
                method: "DELETE"
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    loadTutorial(); // Refresh the tutorial list after deletion
                })
                .catch(error => {
                    console.error("Error deleting tutorial:", error);
                });
        }

        function submitForm(e) {
            e.preventDefault();

            var title = document.getElementById('title').value;
            var description = document.getElementById('description').value;
            var published = true;

            const body = {
                title: title,
                description: description,
                published: published
            }

            fetch("http://localhost:3000/api/tutorials", {
                method: "POST",
                body: JSON.stringify(body),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("network returns error");
                    }
                    return response.json();
                })
                .then((resp) => {
                    console.log("resp from server ", resp);
                })
                .catch((error) => {
                    // Handle error
                    console.log("error ", error);
                });
        }



    </script>
</head>

<body onload="loadTutorial()">

    <form id="myform">
        <div>
            <label for="title">Tutorial name</label>
            <input type="text" name="title" id="title" placeholder="Tutorial name">
        </div>
        <div>
            <label for="description">Tutorial description:</label>
            <input type="text" name="description" id="description" placeholder="Tutorial description">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <div>
        <table border="1" id="tutorials"></table>
    </div>

    <script>
        var myform = document.getElementById("myform");
        myform.addEventListener("submit", submitForm);
    </script>

</body>

</html>