body {
  margin: 0;
}

header h1 {
  color: white;
  font-size: 45px;
}

header {
  background-color: #303030;
  text-align: center;
  padding: 20px;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  width: 500px;
  height: 200px;
}

nav {
  display: block;
  background-color: gray;

}

nav.navbar {
  background-color: #303030;

  color: white;

  padding: 10px;

  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

main {
  padding: 1rem;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

