 body {
   margin: 0;
 }

 header h1 {
  color: white;
  font-size: 45px;
 }

 header {
   background-color: gray;
   text-align: center;
   padding: 20px;
 }

 header img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-color: aliceblue;
   width: 500px;
   height: 200px;
 }

 nav {
   display: block;
   background-color: gray;
   
 }

 nav.navbar {
  background-color: #333; /* Set background color for the navigation bar */
  color: white; /* Set text color for navigation links */
  padding: 10px; /* Adjust the padding as needed */
  text-align: center;
}

nav.navbar div {
  display: inline-block;
  margin: 0 10px; 
}

ul.homenav, ul.aboutnav {
  list-style: none;
  text-decoration: none;
  display: inline;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray ;
  color: white;
  text-align: center;
  font-size: 20px;
}