<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Sedtion</title>
</head>

<body>
    <header><img src="/Class2/Chapter1/public/img/Logo-Dai-hoc-FPT.webp" alt="Fpt logo"></header>
    {{body}}
</body>

</html>